@page
@model surveyBackend.Pages.Questions.EditModel
@{
}

<br />
<h2>Edit Question</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form method="POST">
    <input type="hidden" name="id" value="@Model.questionInfo.id" />
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Key</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="qKey" value="@Model.questionInfo.qKey" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Label</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="qLabel" value="@Model.questionInfo.qLabel" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Multiple Choice</label>
        <div class="col-sm-6">
            <input type="checkbox" name="multiple_choice" value="@Model.questionInfo.multiple_choice" />
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="row mb-3">
            <div class="col-sm-9">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>@Model.successMessage</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    }

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn bnt-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>